* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.products_form {
   margin: 20px 30px;
   width: 700px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: left;
   gap: 40px;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   padding: 50px;
   background-color: rgb(198, 246, 149)
}

input {
   height: 50px;
   width: 200px;
   padding: 20px;

}

button {
   background-color: rgb(245, 164, 58);
   height: 50px;
   width: 100px;
   font-size: 1em;
   color: aliceblue;
   border: 1px solid orange;
   border-radius: 5px;
   cursor: pointer;
}

.products_container {
   max-width: 900px;
   margin: 30px;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
   border: 1px solid rgb(132, 226, 250);
   border-radius: 7px;
   line-height: 1.5em;
   color: rgb(3, 119, 123);
}

.product {
   width: 250px;
   height: 150px;
   padding: 15px;
   border: 2px solid rgb(5, 87, 98);
   background-color: #afe4f1;
   border-radius: 7px;
   box-shadow: 5px 5px 5px;
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
   line-height: 2.0em;
   cursor: pointer;
}